.member__add {
  position: absolute;
  left: 40px;
  bottom: 40px;
  border-radius: 5px;
  width: 304px;
  height: 65px;
  background: #ff7a00;
  border: none;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
}

.member__add:hover {
  background: #0377C5;
  box-shadow: 2px 2px 10px 0 rgba(0, 91, 153, 0.25);
}

.member__add:focus {
  outline-color: #BD5B00;
}