.about__title {
  margin: 20px 0 10px 25px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #0377C5;
  opacity: .6;
  font-size: 16px;
}