.popup__container {
  position: relative;
  padding: 40px 60px 50px;
  box-sizing: border-box;
  border-radius: 5px;
  width: 650px;
  height: 870px;
  box-shadow: 2px 2px 15px 0 rgba(0, 47, 80, 0.5);
  background: #fff;
}